body {
  font-family: 'Prata', serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
    color: inherit;
    text-decoration: none;
}

p {
  font-size: 1.15rem;
  margin-top: 1em;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.9rem;
    margin: 10px 0px 0px 0px;
}

h5 {
    font-size: 0.8rem;
    margin: 20px 0px 10px 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-cointainer {
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  padding-top: 10px;
}

.nav {
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
  font-size: 0.9rem;
}

.main-nav {
  grid-column: 1 / -1;
  background-color: white;
  height: 2.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.category-nav {
  padding-top: 1rem;
}

.topic-nav {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  border-top: 1px solid lightgrey;
  margin-top: -1px;
}

.hero-container {
    padding-bottom: 15px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

.hero-image {
  grid-column: 2 / span 2;
  max-width: 100vw;
  max-height: 371px;
}

.hero-text-container {
  display: flex;
  justify-content: center;
}

.hero-text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2em;
  max-height: 371px;
  max-width: 660px;
}

.hero-title {
  font-weight: 400;
  line-height: 1.4em;
}

.hero-category {
    color: #307256;
    margin-bottom: -5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.hero-content {
  font-size: 0.9rem;
}

.hero-footer {
    display: flex;
    align-content: space-between;
    margin-top: -10px;
}

.article-date, .article-time {
    font-size: 0.75rem;
    align-self: flex-end;
    opacity: 0.3;
}

.fa-clock {
  padding-left: 15px;
  padding-right: 10px;
}

.carousel {
  padding-left: 25px;
}

.carousel-header {
    grid-column: 1 / -1;
    font-size: 1.4rem;
    font-weight: 400;
}

.scrolling-wrapper {
    grid-column: 2 / -1;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 300px;
    max-width: 100vw;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
    padding-right: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .card-image {
      width: inherit;
  }

  .card-category {
    color: #307256;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
  }

.card-article {
    font-size: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
}

.footer > * {
    margin: 5px 40px 5px 40px;
}

.footer-logo {
  font-family: 'Tinos', serif;
}

.footer-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
}

.footer-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
}

.footer-logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
}

.footer-bottom-left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-start;
}

.footer-bottom-right {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-start;
}

.footer-bottom-right .fab {
    margin-right: 7.5px;
}

.footer-bottom-bottom {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    align-self: center;
    padding: 10px 0px 10px 0px;
}

.footer-left, .footer-right, .footer-bottom-left li {
  line-height: 1.4em;
}

.fa-bars, .fa-search  {
  font-size: 1.0rem;
  opacity: 0.3;
}

.fa-clock {
  padding-right: 2px;
}

.card-article {
  height: 50px;
  font-weight: 400;
}

.category-nav a {
  padding-bottom: 10px;
}

.nav {
  font-weight: 300;
}

.category-nav a:link {
  display: inline-block;
  border-bottom: 1px solid lightgrey;
}

.category-nav a:visited {
  display: inline-block;
  border-bottom: 1px solid lightgrey;
}

.category-nav a:hover {
  color: #307256;
  border-bottom: 1px solid #307256;
  font-weight: 400;
}

.logo {
  font-family: 'Tinos', serif;
  font-size: 1.3rem;
}

.topic-nav a:link {
  display: inline-block;
}

.topic-nav a:visited {
  display: inline-block;
}

.topic-nav a:hover {
  color: #307256;
  font-weight: 400;
}

.right-column {
  display: none;
  grid-column: 4 / -2;
  grid-row: 1 / 1;
  display: grid;
  border: 1px dashed lightgray;
  display: none;
}

.sub-chevron {
  opacity: 0.4;
  padding-left: 10px;
}

@media (min-width: 758px) {

.nav {
    justify-content: space-between;
}

.fa-bars, .fa-search  {
  font-size: 1.3rem;
  opacity: 0.3;
}

.hero-container {
  padding-bottom: 15px;
}

.hero-image {
  grid-column: 1 / span 1;
}

}


@media (min-width: 1024px) {

  .main-cointainer {
    display: grid;
    grid-template-columns: 1.5rem minmax(min-content, 600px) 1fr 1fr 1.5rem;
  }

  .nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
  }

  .hero-container {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1.5rem minmax(min-content, 600px) 1fr 1fr 1.5rem;
  }

  .hero-image-container {
    grid-column: 2 / span 1;
    overflow: hidden;
  }

  .hero-category {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .hero-text {
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -35px;
  }

  .hero-title  {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .hero-content {
    margin: 5px 0px 5px 0px;
    font-size: 0.8rem;
  }

  .article-date, .article-time {
    font-size: 0.7rem;
    padding-right: 3px;
  }

  .right-column {
    display: block;
  }

  }
